<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="triangle" class="com.nishant.spring.Triangle">
		<property name="type" value="Equilateral"></property>
	</bean>
	 -->
	 <bean id="triangle" class="com.nishant.spring.Triangle">
	 	<constructor-arg index="0" value="Equilateral" />
	 	<constructor-arg index="1" type="int" value="20" />
	 </bean>

</beans>