<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="triangle" class="com.nishant.spring.Triangle">
		<property name="type" value="Equilateral"></property>
	</bean>
	 -->
	 <bean id="triangle" class="com.nishant.spring.Triangle" name="triangle-name">
	 	<constructor-arg index="0" value="Equilateral" />
	 	<constructor-arg index="1" type="int" value="20" />
	 </bean>
	 
	 <bean id="triangleWithPoints" class="com.nishant.spring.TriangleWithPoints">
	 	<property name="pointA">
		 	<ref bean="zeroPoint"/>
		</property>
	 	<property name="pointB">
	 		<bean id="point2" class="com.nishant.spring.Point">
	 			<property name="x" value="-20"></property>
	 			<property name="y" value="0"></property>
	 		</bean>
	 	</property>
	 	<property name="pointC" ref="point3" />
	 </bean>
	 
	 <bean id="zeroPoint" class="com.nishant.spring.Point">
	 	<property name="x" value="0"></property>
	 	<property name="y" value="0"></property>
	 </bean>
	 
	 <bean id="point3" class="com.nishant.spring.Point">
	 	<property name="x" value="20"></property>
	 	<property name="y" value="0"></property>
	 </bean>
	 
	 <alias name="triangle" alias="triangle-alias"/>
	 
	 <bean id="triangleWithListOfPoints" class="com.nishant.spring.TriangleWithListOfPoints">
	 	<property name="listOfPoints">
	 	<list>
	 		<ref bean="zeroPoint"/>
	 		<bean id="point4" class="com.nishant.spring.Point">
	 			<property name="x" value="-20"></property>
	 			<property name="y" value="0"></property>
	 		</bean>
	 		<ref bean="point3"/>
	 	</list>
	 	</property>
	 </bean>
	 
	 <bean id="triangleWithAutowiring" class="com.nishant.spring.TriangleWithAutowiring" autowire="byName">
	 </bean>
	 
	 <bean id="pointX" class="com.nishant.spring.Point">
	 	<property name="x" value="0"></property>
	 	<property name="y" value="0"></property>
	 </bean>
	 
	 <bean id="pointY" class="com.nishant.spring.Point">
	 	<property name="x" value="20"></property>
	 	<property name="y" value="0"></property>
	 </bean>
	 
	 <bean id="pointZ" class="com.nishant.spring.Point">
	 	<property name="x" value="0"></property>
	 	<property name="y" value="20"></property>
	 </bean>
	 

</beans>